* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }
  header img.logo:hover {
    transform: scale(0.8);
    rotate: -10deg;
    transition: 3s; }
  header .nav-link {
    font-family: 'Luckiest Guy';
    color: white;
    text-shadow: 3px 0px 0px #e2332b; }
  header .nav-link:hover {
    font-family: 'Luckiest Guy';
    color: white;
    transform: scale(1.5) rotate(20deg);
    transition: 3s;
    text-shadow: 3px 0px 0px #518829; }

body {
  background-color: #41a1e5; }
  body a {
    color: white;
    text-decoration: none; }

main h1 {
  font-family: 'Luckiest Guy';
  font-size: 3rem;
  color: #d24adb;
  text-shadow: 3px 0px 0px white;
  margin-top: 2rem;
  text-align: center; }

main p {
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 3rem;
  color: white;
  padding: 2rem;
  margin: 2rem;
  background-image: linear-gradient(#7547ff, #1140fb);
  text-shadow: 5px 3px 5px black;
  border-radius: 100px;
  border: 5px dotted #e68829;
}

main .selector {
  border-radius: 100px;
  border: 5px dotted #e68829;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 2rem;
  align-items: center;
  background-color: #d24adb;
  margin: 2rem;
  padding: 2rem; }

main .selector select {
  height: 3rem;
  border-radius: 100px;
  background-color: #5d5ee6;
  font-family: 'Luckiest Guy';
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  gap: 0.5rem; }

main .selector div {
  display: flex;
  flex-flow: wrap;
  gap: 2rem;
  align-items: center; }

main .reproductor {
  border-radius: 100px;
  border: 5px dotted #e68829;
  display: grid;
  grid-area: 1fr;
  justify-content: center;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  gap: 1rem;
  background-color: #518829; }

main div {
  align-items: center; }

main a {
  font-family: 'Luckiest Guy';
  color: white;
  font-size: 2rem;
  text-shadow: 5px 3px 5px black; }

main section.botones {
  background-color: #e68829;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  margin-top: 2rem; }

main button.juega {
  background-image: linear-gradient(#518829, black);
  height: 2rem;
  width: 15rem;
  font-size: 1rem;
  font-family: 'Luckiest Guy';
  text-shadow: 3px 0px 0px black;
  text-align: center;
  color: white;
  border-radius: 100px; }

main button.juega:hover {
  transform: scale(1.2); }

main button.dona {
  background-image: linear-gradient(#e2332b, black);
  height: 2rem;
  width: 15rem;
  font-size: 1rem;
  font-family: 'Luckiest Guy';
  text-shadow: 3px 0px 0px black;
  text-align: center;
  color: white;
  border-radius: 100px; }

main button.dona:hover {
  transform: scale(1.2); }

main button.comparte {
  background-image: linear-gradient(#130980, black);
  height: 2rem;
  width: 15rem;
  font-size: 1rem;
  font-family: 'Luckiest Guy';
  text-shadow: 3px 0px 0px black;
  text-align: center;
  color: white;
  border-radius: 100px; }

main button.comparte:hover {
  transform: scale(1.2); }

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center; }
  footer .orlando3 {
    margin-top: 2rem; }
  footer .medusas {
    margin-top: 2rem; }
  footer .estrella {
    margin-top: 2rem; }
  footer .burbujas {
    position: relative;
    height: 100%;
    width: 100%; }
  footer .fondo {
    bottom: 0;
    position: sticky;
    height: 100%;
    width: 100%; }

@media screen and (min-width: 600px) {
  header {
    background-color: #2b388a; }
  main h1 {
    text-align: center;
    font-family: 'Luckiest Guy';
    color: #518829;
    text-shadow: 3px 0px 0px white; }
  main p {
    background-image: linear-gradient(#7547ff, #1140fb); }
  main section.botones {
    background-color: #d24adb;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    justify-content: center; }
  footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background-color: #2b388a; }
  .orlando {
    display: none; }
  .camarones {
    display: none; } }

@media screen and (min-width: 1024px) {
  header {
    background-color: #0a072e; }
  main h1 {
    text-align: center;
    font-family: 'Luckiest Guy';
    color: #e68829;
    text-shadow: 3px 0px 0px white; }
  main section.botones {
    background-color: #518829;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    justify-content: center; }
  footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    background-color: #0a072e; }
  .orlando {
    display: none; }
  .algas {
    display: none; }
  .camarones {
    display: block; } }
	
#escucha{
	font-family: 'Luckiest Guy';
	color: white;
	font-size: 2rem;
	text-shadow: 5px 3px 5px black;
	background: transparent;
	border:  none;
}
#cuadroMensaje{
  text-align: center;
  font-family: 'Luckiest Guy';
  color: white;
  padding: 2rem;
  margin: 2rem;
  background-image: linear-gradient(#880794, rgb(1, 32, 234));
  text-shadow: 5px 3px 5px black;
  border-radius: 100px;
  border: 5px dotted #e68829; 
}
#buttonIdeas{
  font-family: 'Luckiest Guy';
	color: white;
	font-size: 2rem;
	text-shadow: 5px 3px 5px black;
	background: transparent;
	border:  none;
}
#buttonIdeas:hover{
  transform: scale(1.2);
}
#input{
  text-align: center;
  font-family: 'Luckiest Guy';
 
}
#recomendaciones{
  text-align: center;
  font-family: 'Luckiest Guy';
  color: rgb(253, 254, 254);
  padding: 2rem;
  margin: 2rem;
  background-image: linear-gradient(#e3ff47, #96fb11);
  border-radius: 100px;
  border: 5px dotted #e68829; 
}
#donador{
  text-align: center;
  font-family: 'Luckiest Guy';
  color: rgb(0, 0, 0);
  padding: 2rem;
  margin: 2rem;
  background-image: linear-gradient(#e3ff47, #96fb11);
  border-radius: 100px;
  border: 5px dotted #e68829;
}
#donarMas{
  font-family: 'Luckiest Guy';
	color: rgb(7, 231, 243);
	font-size: 2rem;
	text-shadow: 5px 3px 5px black;
	background: transparent;
	border:  none; 
  margin-left: 2rem;
}
#donarMas:hover{
  transform: scale(1.2);
}
#donarMenos{
  font-family: 'Luckiest Guy';
	color: rgb(84, 88, 109);
	font-size: 2rem;
	text-shadow: 5px 3px 5px black;
	background: transparent;
	border:  none;
  margin-left: 2rem;
}
#donarMenos:hover{
  transform: scale(1.2);
}
#hacerDonacion{
  font-family: 'Luckiest Guy';
	color: rgb(62, 136, 239);
	font-size: 2rem;
	text-shadow: 5px 3px 5px black;
	background: transparent;
	border:  none;
}
#hacerDonacion:hover{
  transform: scale(1.2);
}
#textoDonador{
  font-family: 'Luckiest Guy';
	color: white;
	font-size: 2rem;
	text-shadow: 5px 3px 5px black;
	background: transparent;
	border:  none;
}
#verIdeas{
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 2rem;
  color: white;
  text-shadow: 5px 3px 5px black;
  padding: 2rem;
  margin: 2rem;
  background-image: linear-gradient(#ff9147, #96fb11);
  border-radius: 100px;
  border: 5px dotted #e68829; 
}
#verIdeas:hover{
  transform: scale(1.2);
}
#textoIdeas{
  font-size: 3rem;
}
#selectorInteractivo{
  font-size: 2rem;
}
#cangrejo{
  margin-left: 2rem;
}
#mensajeBienvenida{
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 3rem;
  color: white;
  text-shadow: 5px 3px 5px black;
  padding: 2rem;
  margin: 2rem;
  background-image: linear-gradient(#e3ff47, #96fb11);
  border-radius: 100px;
  border: 5px dotted #e68829;
}
#ideasContainer{
  font-size: 2rem;
}
#mensajeComparte{
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 2rem;
  color: white;
  text-shadow: 5px 3px 5px black;
  padding: 2rem;
  margin: 2rem;
  background-image: linear-gradient( #96fb11, #e3ff47);
  border-radius: 100px;
  border: 5px dotted #e68829;
}
#escucha{
  margin-left: 2rem;
  font-size: 3rem;
  color: #b5fb1e;
}
#escucha:hover{
  transform: scale(1.2);
}
#textoJuega{
  font-size: 3rem;
  color: #e7f306;
}
#textoJuega:hover{
  transform: scale(1.2);
}
#userInfo{
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 2rem;
  color: white;
  text-shadow: 5px 3px 5px black;
  padding: 2rem;
  margin: 2rem;
  background-image: linear-gradient( #96fb11, #e3ff47);
  border-radius: 100px;
  border: 5px dotted #e68829;
}
#irSpotify{
  text-align: center;
  font-family: 'Luckiest Guy';
  font-size: 1rem;
  color: white;
  text-shadow: 5px 3px 5px black;
  padding: 2rem;
  margin: 2rem;
}
#botonSpotify{
  background-image: linear-gradient(#051628, rgb(254, 233, 4));
  height: 3rem;
  width: 15rem;
  font-size: 1rem;
  font-family: 'Luckiest Guy';
  text-shadow: 3px 0px 0px black;
  text-align: center;
  color: white;
  border-radius: 100px;
  border: 5px dotted #c1f507;
}
#botonSpotify:hover {
  transform: scale(1.2); 
}